@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  
} 

:root{
  --title-primary-color: #ffffff;
  --title-secundary-color: #000000;
  --title-attention-color: #EEB609;

  /* #FAF23B */

  --bg-primary-color: #636363;
  --bg-secundary-color: #EEB609;
  --font-primary: 'Poppins', sans-serif;
}


html{
  font-size: 62.5%;
  padding-top: 10%;
 
}

body {
  font-family: 'Poppins', sans-serif; 
 
}




header { 
  background-color: var(--bg-primary-color);
  height: 160px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}





nav{
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 1140px ;
  padding:  1rem 0;
  margin: 0 auto; 
  margin-bottom: 2.5rem;
}




a{
  color: var(--title-primary-color);
  text-decoration: none;
  font-weight: 800;
  font-size: 1.8rem;
  position: relative;
} 

/* :target::before {
  content: "";
  display: block;
  height: 180px; 
  margin-top: -80px; 
  visibility: hidden;
} */

.botao-flutuante {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 999;
}

.botao-flutuante:hover {
  background-color: #0056b3;
}



.flex{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: solid #25d366 1px; 
}




.linkHover a:after{
  content: "";
  position: absolute;
  transition: 0.3s step-start;
  background-color: var(--title-attention-color);
  width: 0%;
  height: 3px;
  bottom: -2px;
  left: 0;
}

.linkHover a:hover{
  color: var(--title-attention-color);
}

.linkHover a:hover:after{
 width: 100%;
}



.mobile__menuIcon{
  display: none;
}


.mobile__navLinks{
  display: none;
}





.home__section{
  max-width: 1140px;
  
  align-items: center;
  /* margin: 0 auto; */

  margin-bottom: 2.5rem;

  /* border: #29A71A solid 3px; */

  /* background-color: #29A71A; */

  /* padding: 0 0.5rem; */

  margin-left: auto;
  margin-right: auto;
 
}




.home__imagem{
 background-image: url('../assets/banner-principal.png');
 background-repeat: no-repeat;
 height: 474px;
}

.home__imagemText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45%;

  text-align: center;
  padding-top: 6.5rem;
  padding-left: 2rem;
  gap: 2rem;
}

.home__imagemText h1{
  color: var(--bg-secundary-color);
  font-size: 4rem;
  font-weight: bold;

  line-height: 4rem;
}

.home__imagemText p {
  color: var(--title-primary-color);
  font-size: 2.4rem;
  font-weight: medium;
}




.home__servicesText{
  text-align: center;
  gap: 20px;
  
}

.home__servicesText h3 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.home__servicesText p {
  padding-top: 2.5rem;
  text-align: center;
  margin: auto 10%;
  font-size: 2.4rem;
}



.home__cardServices{
  background-color: var(--bg-primary-color);
  height: 341px;
  border-radius: 24px;
  margin-bottom: 1.5rem;
}


.home__cardDescription{
  display: flex;
  background-color: var(--bg-primary-color);
  height: 341px;
  border-radius: 24px;
  margin-bottom: 1.5rem;
  padding-right: 2rem;
  overflow: hidden;
}

.home__cardText{
  margin: auto 5%;

}

.home__cardText h3{
  font-size: 4rem;
  font-weight: medium;
  color: var(--title-attention-color);
  padding-bottom: 1rem;
  
}

.home__cardText p{
  font-size: 2rem;
  font-weight: medium;
  color: var(--title-primary-color);
}

.home__cardImagem{
  padding-top: 20px;
  padding-right: 26px;
}



.home__cardText {
  z-index: 2;
  position: relative;
  flex: 1; 
}

.home__slideshow {
  flex: 1; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.home__slides {
  display: flex;
  animation: slide 15s infinite;
}

.home__slides img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.slideshow-container:hover .slides {
  animation-play-state: paused;
}





.home__typeServicesText{
  font-size: 2.4rem;
  text-align: center;
  margin: auto 10%;
}

.home__typeServicesText p:first-child {
  margin-bottom: 2rem; 
}

.home__boxTypeServices{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.home__boxServices{
  border: 4px solid black;
  border-radius: 24px;

  width: 334px;
  height: 339px;
}

.home__boxServices h3{
  font-size: 4rem;
  font-weight: medium;
  padding-bottom: 0.5rem;
  text-align: center;
}

.home__boxServices ul li{
  text-align: center;
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: left;
  line-height: 6rem;

  padding-left: 1.5rem;
}






.home__whatsapp{
  background-color: var(--bg-primary-color);
  height: 276px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.home__ctaWhatsapp{
  display: flex;
  max-width: 1140px;
  align-items: center;
 
}

.home__whatsappText{
  text-align: center;
  padding: 2rem;
  padding-right: 12rem ;

}

.home__whatsappText h3{
  font-size: 4rem;
  line-height: 4.6rem;
  font-weight: medium;
  color: var(--title-attention-color);
  padding-bottom: 1rem;
}

.home__whatsappText p{
  font-size: 2rem;
  font-weight: medium;
  color: var(--title-primary-color);
}


.home__buttonWhatsapp{
  width: 550px;
  height: 95px;
  background-color: #25d366;
  border-radius: 24px;
  cursor: pointer;
  border: none;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding:  0 1rem;
  transition: 0.3s;
}


.home__buttonWhatsapp:hover{
  background-color: #119e45;
}


.home__buttonWhatsapp a{
  font-size: 2.4rem;
  font-family: var(--font-primary);
}

.home__buttonWhatsapp img{
  width: 63px;
  height: 63px;
}






.home__textTransformation{
 text-align: center;
 margin-bottom: 2.5rem;
}

.home__textTransformation h2{
  font-size: 4rem;
}

.home__textTransformation h3{
  font-size: 3.2rem;
  font-weight: 400;
}

.home__textTransformation p{
  font-size: 2.4rem;
  margin: auto 5%;
  margin-top: 2rem;
}

.home__imagemTransformation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
}






.home__products{
  background-color: var(--bg-primary-color);
  height: 276px; 
}

.home__productsItens{
  text-align: center;
  padding-top: 4rem;
}

.home__productsItens p{
  color: var(--title-primary-color);
  font-size: 2.4rem;
}

.home__imagemProducts{
  display: flex;
  align-items: center;
  justify-content: space-around;
}







.home__feedback{
  text-align: center;
  font-size: 3.2rem;
  margin: 3.5rem 0;
  font-weight: 500;
}









.home__sectionAboutus{
  height: 100vh;
  background-color: var(--bg-secundary-color);
  
  display: flex;
  justify-content: center;
  align-items: center;
}



  .home__aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }


  .home__aboutImagem img{
    width: 90%;
    height: 100%;
  }



  .home__aboutText{
    background-color: var(--bg-primary-color);
    border-radius: 24px;
    color: white;
  }


  .home__aboutText h2{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 1rem;
  }

  .home__aboutText p{
    max-width: 637px;
    max-height: 670px;
    font-size: 2.4rem;
    padding: 6%;
    
  }












.home__localization p{
  text-align: center;
  font-size: 3.2rem;
  margin-top: 2.5rem;
  font-weight: 500;
}

.home__localMap{
  padding-top: 2.5rem;
}





.home__socialMedia{
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.home__socialMediaImage{
  padding-right: 5rem;
}






.home__socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
  margin: auto;
  max-width: 50%;
}

.home__socialMediaIcon{
  width: 72px;
  height: 72px;
  border-radius: 30%;
  background-color: var(--bg-primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:relative;
  transition: 0.3s;
}

.home__socialMediaIcon img {
  width: auto;
  height: 100%;
  object-fit: contain; 
  display: block;
  margin: auto;
}

.home__socialMediaIcon:hover{
  background-color: var(--bg-secundary-color);
}





.home__socialText h2{
  font-size: 4rem;
  text-align: center;
}

.home__socialText p {
  text-align: center;
  font-size: 2.4rem;
  margin: auto 27%;
  padding-top: 0.5rem;
}




footer{
  background-color: var(--bg-primary-color);
  height: fit-content;
  color: var(--title-primary-color);
}



.home__footerLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.home__footer{
  max-width: 1140px;
  margin: 0% auto;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}




.home__footerTopics a{
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  font-weight: 400;
}

.home__footerTopics h3{
  font-size: 2.4rem;
}




.home__footerLocazation{
  display: flex;
  flex-direction: column;
}

.home__footerLocazation h3{
  font-size: 2.4rem;
}

.home__footerLocazation p{
  font-size: 1.6rem;
}
.home__footerLocazation h3:nth-of-type(2){
  padding-top: 1.5rem;
 
}






.home__footerContato{
  text-align: center;
  gap: 10rem;
}

.home__footerContato > div{
  padding-bottom: 0.5rem;
}

.home__footerContato h3{
  font-size: 2.4rem;
}

.home__footerContato a{
  font-size: 1.4rem;
}

.home__footerContato img{
  width: 21px;
  height: 21px;
}




.home__footerButton{
  width: 184px;
  height: 45px;
  border-radius: 24px;
  background-color:#25d366 ;
  cursor: pointer;
  border: none;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  transition: 0.3s;
}

.home__footerButton:hover{
  background-color: #119e45;
}

.home__footerDeep{
  max-width: 1140px;
  margin: 0% auto;
  display: flex;
  justify-content: space-around;

  border-top: solid var(--title-primary-color) 1px;
  padding: 1rem 0;
  font-size: 1.6rem;
}










@media (max-width: 1536px){
  .flex{
    max-width: 1280px;
  }

  .home__imagem{
    background-image: url('../assets/banner-principal.png');
    background-position: center;
    background-size: contain;
  }


  .home__imagemText{
    padding-left: 10rem;
  }




  .home__aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .home__aboutImagem img{
    width: 90%;
    height: 100%;
  }




  .home__aboutText{
    background-color: var(--bg-primary-color);
    border-radius: 24px;
    color: white;

    max-width: 637px;
    max-height: 670px;
  }



  .home__aboutText h2{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 1rem;
  }

  .home__aboutText p{
   font-size: 2rem; 
  }

}





@media (max-width: 1280px){
  .flex{
    max-width: 1024px;
  }

  .home__imagemText{
    padding-left: 6rem;
  }

  .home__whatsappText{
    padding-right: 6rem ;
  }



  .home__aboutText h2{
    font-size: 3.2rem; 
  }

  .home__aboutText p{
    padding: 6%;
  }
  
}




@media (max-width: 1024px){
  .flex{
    max-width: 768px;
  }

  nav a {
    display: none;
  }
  
  .mobile__menuIcon{
    display: block;
    position: relative;
  }

  .mobile__menuIcon img{
    width: 70px;
    height: 70px;
   
  }

  .mobile__menuIcon::after{
    content: "";
    position: absolute;
    transition: opacity 0.3s;
  }

  .mobile__menuIcon:hover{
    opacity: 0.7;
  }
  
  .mobile__menuIcon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile__navLinks{
    display: none;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
  }

  .mobile__navLinks.open{
    display: flex;
  }
  

  .mobile__navLinks a{
    font-size: 2.4rem;
  }





  .home__imagem{
    background-size:cover; 
    background-position: left; 
  }


  .home__imagemText{
    max-width: 55%; 
    gap: 2.6rem; 
    padding-top: 3.2rem;
  }

  




  .home__cardDescription {
    flex-direction: column-reverse;
    height: auto; 
    margin-bottom: 2.5rem;
    margin: 4% 2%;
  }

  
  .home__cardText {
    margin: 2rem; 
  }

  .home__cardText p{
    font-size: 2.4rem; 
  }

  
  .home__slideshow {
    order: -1; 
  }

  .home__slides img {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(0);
    }
    66.66% {
      transform: translateX(-600px); 
    }
    100% {
      transform: translateX(-1000px);
    }   
  }


  

  .home__typeServicesText{
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  
  .home__typeServicesText p:first-child {
    margin-bottom: 2.5rem; 
  }
  

  

  .home__boxTypeServices{
    flex-direction: column; 
    row-gap: 3rem; 
    align-items: center; 
  }
  

  .home__boxServices{
    width: 50%;
  }

  .home__boxServices h3{
    font-size: 3.2rem;
  }

  .home__boxServices ul li{
    font-size: 2.4rem;
  }

  


  

  .home__whatsapp{
    height: 350px;
  }
  
  .home__ctaWhatsapp{
    flex-direction: column; 
    margin: 0;
    padding-bottom: 2.5rem; 

  }
  
  .home__whatsappText{
    padding: 0; 
  }
  
  .home__whatsappText h3{
    line-height: 5rem;
  }
  
  .home__whatsappText p{
    font-size: 2.4rem; 
  }
  

  .home__buttonWhatsapp{
    width: 350px;
  }







  .home__products{
    height: 730px; 
  }

  .home__productsItens{
    padding: 3rem 10rem 3rem 10rem; 
  }

  .home__productsItens p {
    font-size: 3rem; 
  }

  .home__imagemProducts{
    flex-direction: column;  
    row-gap: 2rem; 
  }
  


  
  .home__socialMedia{
    flex-direction: column;  
  }

  .home__socialText{
    flex-direction: column; 
    margin:  5% auto; 
  }

  .home__socialText h2{
    padding-bottom: 2rem; 
  }
  
  .home__socialText p {
    padding-bottom: 2rem; 
  }

  .home__socialMediaImage{
    padding-right: 0rem; 
  }

  

  .home__aboutus{
    flex-direction: column-reverse;
  }

  .home__sectionAboutus{
    height: auto; /* new */
    padding-top: 4rem; /* new */
  }

  .home__aboutImagem{
    display: flex;/* new */
    align-items: center;/* new */
    justify-content: center;/* new */
  }


  .home__aboutImagem img{
    padding-top: 4rem; /* new */
  }


  .home__aboutText h2{
    font-size: 3.2rem; /* new */
  }







  .home__footerLogo{
    display: none; 
  }

  .home__footerLocazation h3:nth-of-type(2){
    padding-top: 2.8rem; 
  }
  
  .home__footerContato{
    display: none; 
  }

  .home__footerDeep{
    flex-direction: column; 
    text-align: center; 
  }

}  




@media (max-width: 768px) {
  .flex{
    max-width: 640px;
  }

  .home__imagemText{
    max-width: 76%; 
    gap: 2.6rem; 
    padding-top: 3.6rem;
  }


  .home__imagemText h1{
    font-size: 3.8rem;
  }
  
 


  .home__servicesText h3 {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }

  .home__whatsappText h3{
    padding-top: 2rem;
  }

  .home__whatsappText p{
    margin-bottom: 4rem;
  }

  .home__whatsapp{
    height: 400px;
  }


  .home__imagemTransformation img{
    width: 46%;
    height: 46%;
  }

  .home__products{
    height: 826px; 
  }


}






@media (max-width: 640px){
  .flex{
    max-width: 475px;
  }


  .home__imagem{
    background-image: none; 
    
  }

  
  .home__imagemText{
    max-width: 100%;  
    text-align: left; 
    padding-left: 0rem;
  }

  .home__imagemText h1{
    font-size: 3.8rem;
    text-align: center;
  }


  .home__imagemText p{
    color: #000000; 
    text-align: center;
    padding: auto 250rem;
    font-size: 2.6rem;
  }

  .home__servicesText p{
    font-size: 2.6rem;
  
  }


  .home__slides {
    animation: none;
  }

  .home__slides img:first-child{
    display: block;
  }

  

  .home__boxServices{
    width: 90%;
  }


  .home__boxServices ul li{
    font-size: 2.4rem;
  }


  .home__whatsapp{
    height: 580px;
  }
  
  .home__buttonWhatsapp{
    width: 300px;
  }

  .home__buttonWhatsapp img{
    margin-left: 3rem;
  }


  .home__textTransformation{
    text-align: center;
    margin-bottom: 2.5rem;
  }
   
  .home__textTransformation h2{
    font-size: 3.2rem
  }
   


  .home__products{
    height: 998px; 
  }

 

  .home__feedback{
    font-size: 2.5rem; 
    padding: 1rem 4rem;  
  }

  .home__feedbackBox{
    margin: auto 5%; 
  }




  .home__aboutImagem{
    align-items: center;
  }




  .home__socialIcons {
    margin: auto 10%;
  }

  .home__socialMediaImage {
    margin-top: 5%;
  }

  .home__socialMediaImage img{
    width: 300px;
    height: 300px;
  }


  .home__footer{
    flex-direction: column;
  }

  .home__footerLocazation{
    margin-top: 8%;
  }
 

}




@media (max-width: 475px) {
  .flex{
    max-width: 280px;
  }


 
 .home__imagemText h1{
   font-size: 3.2rem;
 }
 
 .home__imagemText p {
   font-size: 2rem;
   margin: auto 4%;
 }
 

  
  .home__servicesText h3 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  
  .home__servicesText p {
    font-size: 1.8rem;
  }
 

 
  .home__cardText h3{
    font-size: 2.8rem;  
  }
  
  .home__cardText p{
    font-size: 1.8rem;
    
  }

 

  
  .home__typeServicesText{
    font-size: 2.4rem;
  }
  

  .home__boxServices h3 {
    font-size: 2.6rem;
  }
  
  .home__boxServices ul li{
    font-size: 1.8rem;
  }
  
  
 
 .home__whatsappText h3{
   font-size: 3rem;
   line-height: 3.6rem;
  }
 
 .home__whatsappText p{
   font-size: 1.8rem;
  }
 
 
 .home__buttonWhatsapp{
   width: 260px;
   height: 70px;
  }
 

 
 .home__buttonWhatsapp a{
   font-size: 2rem;
   font-family: var(--font-primary);
  }
 
  .home__buttonWhatsapp img{
   width: 43px;
   height: 43px;
  } 
 
 


 
 .home__textTransformation h2{
   font-size: 2.6rem;
  }
 
 .home__textTransformation h3{
   font-size: 2.4rem;
  }
 
 .home__textTransformation p{
   font-size: 2rem;
  }

  
  .home__imagemTransformation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
  }

  .home__imagemTransformation img{
    width: 90%;
    height: 90%;
  }
 

 
 
 .home__products{
   height: auto; 
  }
 
 .home__productsItens{
   padding: 3rem 2rem 3rem 2rem; 
  }

 

 
 .home__productsItens p{
   color: var(--title-primary-color);
   font-size: 1.8rem;
  }
 
 
 .home__aboutImagem img{
    width: 80%;
    height: 90%;
  }

  .home__aboutText h2{
    font-size: 2rem;
  }

  .home__aboutText p{
    font-size: 1.6rem;
  }

 
 
 .home__localization p{
   font-size: 2.4rem;
  }
 



 .home__socialText h2{
   font-size: 2.8rem;
  }
 
 .home__socialText p {
   font-size: 1.8rem;
   margin: auto 10%;
  }
 
 .home__socialIcons {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-top: 1.5rem;
   margin: auto 30%;
  }

  .home__socialMediaImage img{
    width: 260px;
    height: 260px;
  }
 

 
 
 .home__footerTopics a{
   font-size: 1.4rem;
 }
 
 .home__footerTopics h3{
   font-size: 1.8rem;
 }
 
 


 
 .home__footerLocazation h3{
   font-size: 1.8rem;
 }
 
 .home__footerLocazation p{
   font-size: 1.4rem;
 }
 .home__footerLocazation h3:nth-of-type(2){
   padding-top: 1.5rem;
  
 }



 .home__socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  margin: auto;
  max-width: 50%;
}

.home__socialMediaIcon{
  width: 42px;
  height: 42px;
  border-radius: 30%;
  background-color: var(--bg-primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:relative;
  transition: 0.3s;
}

.home__socialMediaIcon img {
  width: 70%;
  height: 70%;
  object-fit: contain; 
  display: block;
  margin: auto;
}
 
 

 
 .home__footerContato h3{
   font-size: 1.8rem;
 }
 
 .home__footerContato a{
   font-size: 1rem;
 }

 .home__footerDeep{
   font-size: 1rem;
 }
 
}
